
<div class="contentLeft">
    <h4 style="padding-left: 20px;">菜单列表</h4>
    <h5 style="padding-left: 20px;line-height: 2;">栏目管理<i class="iconfont icon-xiasanjiao-copy-copy"></i></h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="querycategory.php">查看栏目</a></li>
        <li class="list-group-item"><a href="insertcategory.php">添加栏目</a></li>
    </ul>
    <h5 style="padding-left: 20px;line-height: 2;">商品管理<i class="iconfont icon-xiasanjiao-copy-copy"></i></h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="querygoods.php">查看商品</a></li>
        <li class="list-group-item"><a href="insertgoods.php">添加商品</a></li>
    </ul>
    <h5 style="padding-left: 20px;line-height: 2;">推荐位管理<i class="iconfont icon-xiasanjiao-copy-copy"></i></h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="###">查看推荐位</a></li>
        <li class="list-group-item"><a href="insertgoods.php">添加推荐位</a></li>
    </ul>
</div>