<link rel="stylesheet" href="../static/css/comment.css">
<link rel="stylesheet" href="http://at.alicdn.com/t/font_883955_59p3ub8ywdj.css">
<script src="../static/js/comment.js"></script>
<style>
	footer {
		margin-top: 0;!important;
	}
</style>
<!-- title开始 -->
	<div class="title" style="margin-top:80px">
		<h3><?php echo $cate['des']; ?></h3>
	</div>
	<!-- title结束 -->
	<!-- 内容开始 -->
	<div class="main" style="margin-bottom: 0px;">
		<div class="inner_content" style="width: 1172px;margin:0 auto">
			<div class="left" style="float:left;">
				<ul class="list">
				</ul>
				<div class="more"><i class="iconfont icon-jiazai hidden"></i>加载更多</div>
			</div>
			<div class="right" style="float: right;">
				<form action="comment.php" id="myform"></form>
				<div class="login">
					<input type="text" placeholder="姓名" form="myform" name="name">
					<input type="text" placeholder="联系电话" form="myform" name="phone">
					<textarea name="suggest" id="ta" cols="30" rows="10" placeholder="您的建议" form="myform"></textarea>
					<!-- <input type="text" placeholder="验证码"> -->
					<p>可输入100个字，当前输入了<span class="num">0</span>个字</p>
					<input type="submit" value="提交" form="myform" style="background-color: #62A8EA;">
				</div>
			</div>

		</div>
	</div>
	<!-- 内容结束 -->
	<!-- 底部上方开始 -->
	<div class="null" style="margin-bottom: -20px;"></div>
	<!-- 底部上方结束 -->
<?php include_once 'footer.php'; ?>
	<!-- 底部结束 -->
