<link rel="stylesheet" href="../static/css/footer.css">
<!-- 置顶 -->
<div class="toTop" style=" position: fixed;
    right: -60px;
    bottom: 70px;
    width: 36px;
    height: 36px;
    background-color: #62a8ea;
    line-height: 36px;
    text-align: center;
    color: #FFF;
    transition: all .7s;
    z-index: 999999999;">
    top
</div>
<footer>
    <!-- <div class="imgs">
            <img src="http://www.suxinhuahui.com/upload/201706/1496718375368861.png" width="160" height="208">
        </div> -->
    <div class="footer">
        <p>
            <span><a href=""><i class="iconfont icon-xiangmulan-weixinhao">&nbsp;&nbsp;</i></a></span>
            <span><a href=""><i class="iconfont icon-qq">&nbsp;&nbsp;</i></a></span>
            <span><a href=""><i class="iconfont icon-youxiang1"></i></a></span>
        </p>
        <p>
            <span>
                <a href="#">豫ICP备17021305号&nbsp;&nbsp;</a>
            </span>
            <span>
                <a href="#"><img class="ga" src="../static/img/gonganbeian.png" alt=""> 豫公网安备 41012202000160号</a>
            </span>
        </p>
        <p class="color">联系电话 0371-62180519  15890062947</p>
        <p class="color">郑州素馨花卉有限公司 版权所有 © 2017-2021</p>
    </div>
</footer>
<!-- 底部结束 -->
<script src="../static/js/toTop.js">
</body>
</html>












